<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fog-percentage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body style="background-color: rgb(216, 216, 223);">
    <nav class="navbar-nav navbar-expand-lg navbar-light bg-danger p-4">
        <a class="navbar-brand" href="{% url 'fog_detection:home' %}" style="color: white;font-weight: bold;">FOG DETECTION</a>
      
        </nav>
    <div class="form-container pt-5">
      
        <h2 class="text-danger font-weight-bold text-center">{{f}}% of fog is detected.</h2>

    </div>
    
</body>
</html>